body {
  color: #ff8c00;
  background-color: #885b01;
  font-family: Georgia, serif;
 width: 700px;
  margin: 40px;
  padding: 20px;
}

.subtitle { color: red; 
  border: 2px solid black;
   padding: 20px;
   margin: auto;
   width: 300px;


}
.bio {
  margin-bottom: 40px;
}
 
#my-table {
  margin-bottom: 40px;
}


#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}

#bio {
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: rgb(255, 191, 1);
}




