body {
  color: #ff8c00;
  background-color: #885b01;
  font-family: Georgia, serif;
}

.subtitle { color: red; }
#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}

#bio {
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: rgb(255, 191, 1);
}




